<a href="https://colab.research.google.com/github/BuczynskiRafal/ML/blob/main/pandas/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Biblioteka Pandas, wprowadzenie

In [2]:
import pandas as pd
import numpy as np

pd.__version__
np.__version__

'1.21.6'

In [5]:
# Example 1
# Obiekt series składający się z 1 elementu ponizej 1 skalaru.
s = pd.Series(4)
print(s)

0    4
dtype: int64

In [12]:
#Example 2
# Utworzenie obiektu series z definicji
s2 = pd.Series(data=[1, 32, 25], index=['a', 'b', 'c'], name='value')
s2

a     1
b    32
c    25
Name: value, dtype: int64

In [22]:
# Example 3
# Generowanie przyladowych danych za pomocą numy
data_3 = np.random.rand(100)
# Powstaje tablica numpy (array) zawierająca wartości typu float
data_3

# Tworzenie obiektu series
s_3 = pd.Series(data=data_3)
s_3

0     0.536858
1     0.226290
2     0.936185
3     0.050514
4     0.716284
        ...
95    0.173572
96    0.373513
97    0.517560
98    0.255646
99    0.232503
Length: 100, dtype: float64

In [27]:
# Example 4
# Obiekt series ze slownika zawierajacy tylko str
data_4 = {'Apple':'USA', 'CD Projekct': 'Poland'}
s_4 = pd.Series(data=data_4)
s_4

Apple             USA
CD Projekct    Poland
dtype: object