<a href="https://colab.research.google.com/github/BuczynskiRafal/ML/blob/main/pandas/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Biblioteka Pandas, wprowadzenie

In [2]:
import pandas as pd
import numpy as np

pd.__version__
np.__version__

'1.21.6'

In [5]:
# Example 1
# Obiekt series składający się z 1 elementu ponizej 1 skalaru.
s = pd.Series(4)
print(s)

0    4
dtype: int64

In [12]:
#Example 2
# Utworzenie obiektu series z definicji
s2 = pd.Series(data=[1, 32, 25], index=['a', 'b', 'c'], name='value')
s2

a     1
b    32
c    25
Name: value, dtype: int64